.video-box{
  height: auto;
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin-right: 0;
}
.main{
    display: flex ;
    text-align: center;
    height: 90vh;

}
.side-box{
   /* height: 80vh; */
   border: 52px rgb(220, 216, 216);
   width: 15%;
   margin-left: 0;
   background-color: rgb(255, 255, 255);
  box-shadow: 7px 11px 7px 1px rgba(195, 192, 192, 0.81);
  -webkit-box-shadow: 7px 11px 7px 1px rgba(195, 192, 192, 0.81);
  -moz-box-shadow: 7px 11px 7px 1px rgba(195, 192, 192, 0.81);
}